* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.event-finder-header {
    border: 1px solid;
    background: rebeccapurple;
}

.event-finder-search {
    border: 1px solid;
    background: orange;
    height: auto;
}

.past-searches {
    border: 1px solid;
    background: greenyellow;
}

.past-search-btn {
    text-transform: capitalize;
}

.events-display {
    border: 1px solid;
    background: aqua;
}

.weather-display {
    border: 1px solid;
    background: crimson;
}

.weather-display .weather-display-header {
    text-transform: capitalize;
}

.weather .weather-display {
    background: #374659;
    color: white;
    padding: 5px;
}

.btn {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: darkgrey;
    max-height: 50px;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.line {
    border-bottom: 2px solid black;
}

